@font-face{
    font-family: Questrial;
    src: url("fonts/QdVUSTchPBm7nuUeVf70viFluW44JQ.woff2");
  }
body{
    font-family: Questrial;
}
.centr-algin{
    text-align: center;
}
.spacing{
    
}
h1, h3{
    text-align: center;
    font-family: Questrial;
}