.navbar-custom{

  background-color: #9E9906;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}

.navbar .dropdown-menu {
  background-color: #F4F3CD;
}

.navbar .dropdown-menu a:hover{
  background-color: #9E9906;
}

body{

}
