h1
{
  color: white;
  background-color: coral;
  border: 4px solid white;
}
body
{
  background-color: #AB989B;
  border: 4px solid white;
}

p
{
  color: white;
  background-color: rosyBrown
  border: 4px solid white;
}

ol
{
  background-color: teal;
  color: white;
  border: 4px solid white;
}

img
{
  border: 6px solid Yellow;
}

table, th, tr, td
{
  border: 3px solid green;
  border-collapse: collapse;
}
th{
  padding: 10px;
  color: white;
}
th:hover{
  background-color: #2E060C;
}
td{
  background-color: #8A0015;
  color: white;
  padding: 10px;
}
td:hover{
  background-color: #2E060C;
}
