*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.logo{
    display: inline-block;
}    
.logos{
  /*display: inline-grid;*/
  
}
.button {
    background-color: #49D1B1;
    border-radius: 55px;
    border: none;
    color: white;
    padding: 12px 45px;
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    cursor: pointer;
  }
  .btncq{
    padding: 12px 35px;
  }
  .button:hover {
    background-color: #1EB694;
    text-decoration: none;
    color: white;
  }


  .text-size{
    font-size: 2em ;

  }
  .img-paddng{
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;

  }
  .img-margin{
      margin-right: 3%;
  }

  .centr-algn{
      text-align: center;
  }
  .sizej{
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 0px;
      padding-left: 0px;
      border-radius: 10px;
      margin-top: 28px;
  }
  .sizej1{
    margin-right: 100px;
    padding-left: 30px;
  }

  .sizej2{
    margin-top: 187px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 0px;
    font-size: 20;

  }
  .ul-pad{
    padding-left: 20px;
  }
  .text-box{
    
    border: 3px solid #42E1BD;
    width: 300px;
    height: 40px;
    margin-top: 5px;
  }

  .bgimgpad{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    /*width: 100%;*/
  }
  .bglogopad{
    padding-left: 50px;
    
  }
  .btn-lg:disabled{
    border-radius: 50px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(151, 218, 203);
    border: none;
  }
  .btn-lgq{
    border-radius: 50px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(151, 218, 203);
    border: none;
  }
  .btn-lgq:active{
    text-decoration: none;
  }
  
  .btn-lg:hover{

    background-color: #49D1B1;
    border: none;
    cursor: not-allowed;
  }
  
  .right-algn{
    text-align: right;
  }
  .postn{
    padding-left: 30px;
    padding-right: 20px;
    float: right;
  }
  .postn-r{
    float: right;
  }
  .postn-l{
    float: left;
  }

  ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #D4AAF9; /* Change the color */
    font-weight: bolder; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  .div-margin{
    margin-top: 250px;
  }

  .grid-cont{
    display: grid;
  grid-template-columns: auto auto auto auto;
  }
  .bg-light-s{
    background-color: #E9F5FE;
  }

  .h3-f{
    color: #3278EA;
  }
  .justify{
    text-align: justify;
  
  }

  .footer{
    background-color: #5C5F6D;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  .footer-formt{
    color: white;
  }
  a{
    color: white;
  }
  a:hover{
    color: white;
  }
  .logoz{
    display: inline-flex;
   
  }
  .logoz > div{
    border-radius: 10px;
    margin: 25px;
    text-align: center;
  }

  .freq-pad{
    padding-left: 250px;
    padding-right: 250px;
  }
.carou-pad{
  padding-left: 350px;
  padding-right: 350px;

}
  .jpadd{

  }

  .spadd{
    padding-right: 40px;
  
  }
  .fonts{
    font-size: 18px;
  }
  .apad{
    font-size: 18px;
  
    padding-left: 350px;
    padding-right: 350px;
    
  }
  
