@media (max-width: 500px){
  

}

body{
  background-color: black;
  padding-left: 120px;
  padding-right: 120px;
}
.div1{
  background-color: #00CC99;
  color: white;
  font-size: 65px;
  font-family: sans-serif;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
  
}
.div2{
  background-color: white;
  border-radius: 10px;
  margin: 20px 155px;
  margin-right: 165px;;
  padding: 10px;
 
}
.div3{
  background-color: #6800b3;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial;
  color: white;

  text-align: left;
  margin: 20px;
  padding-top: 16px;
  padding-bottom: 2px;
  padding-left: 20px;


}
.genclass{
    border: none;

 

}
.options{

  padding: 1px 15px;
  margin: 20px;
  padding: 15px 35px;
  
}
.div4{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 16px;
 
  padding: 15px 30px;

  text-align: center;
/*  border-radius: 10px;
  font-size: 20px;
  color: white;
padding-left: 40px;
padding-right: 40px;
  left: 300px;
  top: 290px;
*/}
.div5{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 16px;
  
  /*position: absolute;
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  right: 300px;
  top: 290px;
  padding-left: 40px;
  padding-right: 40px;
*/
}


.div6{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 16px;
  

  /*position: absolute;
  background-color: #989898;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  left: 300px;
  top: 380px;
  padding-left: 27px;
  padding-right: 27px;
*/}
.div7{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 16px;
  
/*  position: absolute;
  font-size: 20px;
  background-color: #989898;

  border-radius: 10px;

  color: white;
  right:300px;
  top: 380px;
  padding-left: 102px;
  padding-right: 102px;
*/}

.margin{

  margin-top: -12px;
}
.margin-left{
  margin-left: -2px       ;
}
.margin-bottom{
  margin-bottom: 0px;
}
.margin-top{
  margin-top: 0px;
}
.genclass2{
  
  display: inline-block;
  align-items: left;
 
  border: none;
  
  

}
.options2{
  
  
}

.div8{
  border: none;
  background-color: orange;
  border-radius: 10px;
  font-size: 16px;
 
    width: 200px;
    height: 50px; 
    
  
/*  position: absolute;
  background-color: orange;
  font-size: 20px;
  border-radius: 10px;
  top: 480px;
  padding-left: 100px;
  padding-right: 100px;

*/}
.div9{
  
  font-size: 0.3em;;
  color: black;
  
  
}
.div10{
  font-size: 0.3em;
  background-color: #33CC33;
  border-radius: 10px;
padding-left: 20px; 
 padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  
}
.btn-lg{
    width: 315px;
    height: 60px;   
 
}
.btn{
    margin: 10px;
    margin-bottom: 0px;
}