body{
  background-color: black;
  padding-left: 100px;
  padding-right: 100px;
}
.div1{
  background-color: #00CC99;
  color: white;
  font-size: 35px;
  font-family: sans-serif;
  padding: 5px;
  text-align: center;
  
}
.div2{
  background-color: white;
  border-radius: 10px;
  margin: 20px 150px;
  padding: 10px;
 
}
.div3{
  background-color: #6800b3;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial;
  color: white;

  text-align: left;

  padding: 2.5px;
  padding-left: 20px;
  margin: 25px;
  


}

.div4{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
 


  text-align: center;
/*  border-radius: 10px;
  font-size: 20px;
  color: white;
padding-left: 40px;
padding-right: 40px;
  left: 300px;
  top: 290px;
*/}
.div5{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
 
  /*position: absolute;
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  right: 300px;
  top: 290px;
  padding-left: 40px;
  padding-right: 40px;
*/
}

.genclass{
  display: inline-block;

}
.options{

  padding: 2.5px 20px;
  margin: 20px;
}
.div6{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
  

  /*position: absolute;
  background-color: #989898;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  left: 300px;
  top: 380px;
  padding-left: 27px;
  padding-right: 27px;
*/}
.div7{
  
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
  
/*  position: absolute;
  font-size: 20px;
  background-color: #989898;

  border-radius: 10px;

  color: white;
  right:300px;
  top: 380px;
  padding-left: 102px;
  padding-right: 102px;
*/}

.div8{
 
  background-color: orange;
  border-radius: 10px;
  font-size: 20px;
  
/*  position: absolute;
  background-color: orange;
  font-size: 20px;
  border-radius: 10px;
  top: 480px;
  padding-left: 100px;
  padding-right: 100px;

*/}
.div9{
  
  font-size: 1em;
  color: black;
  
  
}
.div10{
 
  
  font-size: 16px;
  background-color: #33CC33;
 border-radius: 10px;
}
