.flex-container{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.div{
 
flex-direction: column;
}
body{

  background-color: black;
}
.div1{
  background-color: #00CC99;
  color: white;
  font-size: 68px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 2px;
  padding-left: 80px;
  padding-right: 120px;
  
  margin-left: 50px;
  margin-right: 50px;
}
.div2{
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 350px;
}
.div3{
  background-color: #6800b3;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 20px;
  text-align: left;
  font-family: Arial;
  color: white;

  padding-top: 1px;
  padding-bottom: 1px;


}

.div4{
  position: absolute;
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
  color: white;
padding-left: 35px;
padding-right: 40px;
  left: 270px;
  top: 370px;
}
.div5{
  position: absolute;
  background-color: #989898;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  right: 305px;
  top: 370px;
  padding-left: 40px;
  padding-right: 40px;
}
.div6{
  position: absolute;
  background-color: #989898;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  left: 270px;
  top: 470px;
  padding-left: 27px;
  padding-right: 22px;
}
.div7{
  position: absolute;
  font-size: 20px;
  background-color: #989898;

  border-radius: 10px;

  color: white;
  right:305px;
  top: 470px;
  padding-left: 102px;
  padding-right: 102px;
}

.div8{
  position: absolute;
  background-color: orange;
  font-size: 20px;
  border-radius: 10px;
  top: 570px;
  padding-left: 100px;
  padding-right: 100px;

}
.div9{
  position: absolute;
  font-size: 24px;
  color: black;
  top: 570px;
  padding-left: 300px;
}
.div10{
  word-wrap: normal;
  position: absolute;
  text-align: center;

  font-size: 16px;
  background-color: #33CC33;
  top: 590px;
  right: 518px;
  height: 35px;
  width: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
