.box{
    background-color: #00CC99;
    border: 30px solid black;
    border: 60px solid pink;
    color: white;
    font-size: 40px;
    font-family: sans-serif;

}

.gridsab{
    background-color: teal;
    padding: 500px;
    text-align: center;
    color: white;
}

.algn-end{
    align-items: flex-end;
}