.box{
    background-color: #00CC99;
    border: 30px solid black;
    border: 60px solid pink;
    color: white;
    font-size: 40px;
    font-family: sans-serif;

}

.gridsab{
    background-color: teal;
    padding: 500px;
    text-align: center;
    color: white;
}

.algn-end{
    align-items: flex-end;
}

.b{
    border-radius: 50%;
    border: 20px solid #4795FF;
}
.carousal-c{
    color: black;
}
#myCarousel {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .carousel-control.left {
    margin-left: -25px;
  }
  
  .carousel-control.right {
    margin-right: -25px;
  }